
/* Expression Bad Practice Warning */
❤️ codelesslove,/* yellow outline on bad practices in expressions */
.❤️expression-warning {
  border-top: dashed 1px yellow;
  border-bottom: dashed 1px yellow;
  position: relative;
}
❤️ codelesslove,
.❤️expression-warning-left {
  border-left: dashed 1px yellow;
  border-radius: 5px 0 0 5px;
}
❤️ codelesslove,
.❤️expression-warning-right {
  border-right: dashed 1px yellow;
  border-radius: 0 5px 5px 0;
}

/* make borders and tag slightly transparent when other sub-expressions are focused, to match styles everywhere else */
❤️ codelesslove,
.composer.hover_fade_out:hover .❤️expression-warning {
  border-color: rgba(256, 256, 0, 0.3);
}
❤️ codelesslove,
.composer.hover_fade_out:hover .❤️expression-warning-tag {
  opacity: 0.3;
}
❤️ codelesslove,
.composer.hover_fade_out:hover .hovering .❤️expression-warning {
  border-color: rgba(256, 256, 0);
}
❤️ codelesslove,
.composer.hover_fade_out:hover .hovering .❤️expression-warning-tag {
  opacity: .7;
}

❤️ codelesslove,/* Text "bad practice" with a link to the practice */
.❤️expression-warning-tag {
    top: -6px;
    content: "Bad Practice";
    position: absolute;
    background: yellow;
    width: max-content;
    height: 10px;
    color: black;
    right: -9px;
    border-radius: 10px;
    font-size: 5px;
    text-align: center;
    line-height: 10px;
    padding: 0 4px;
    opacity: .7;
}
.❤️expression-warning-tag:hover,
.composer.hover_fade_out:hover .hovering .❤️expression-warning-tag:hover {
  opacity: 1 !important;
}
/* put a heart indicator in the top-left corner of the outlined expression fragment */
❤️ codelesslove,
.❤️expression-warning-left::before {
    content: "💛";
    top: -2px;
    position: absolute;
    width: max-content;
    height: 10px;
    left: -3px;
    font-size: 6px;
    line-height: 1;
}
