/* ❤️ */
/* Property Editor - Conditional Expression Composer. Break expression onto new lines and indent.*/

/* Make expressions indented */
❤️ codelesslove,
.property-editor-2 .viewport .condition {
  clear: both;
  width: 100%;/* be at least 100% when there isn't enough content*/
}
❤️ codelesslove,
.property-editor-2 .viewport .condition .composer.composer.composer.composer {
  width: 100%;/* expand to full width */
}
❤️ codelesslove,
.property-editor-2 .viewport .condition .nested {
  display: block;
}
❤️ codelesslove,
.property-editor-2 .viewport .condition .nested .nested .nested {
    margin-left: 1em;
}
❤️ codelesslove,
.property-editor-2 .viewport .condition .parens.parens-transparent {
  opacity: 1;
}
/* Heart indicator in opening parens (which is usually hidden and is on its own line) */
❤️ codelesslove,
.property-editor-2 .viewport .condition .parens.parens-transparent::after {
  content: "❤️";
  width: 0;
  display: inline-block;
  position: relative;
  font-size: 5px;\
}
