.codelesslove, {
  border-right: 1px solid transparent; /* Placeholder for border */
  border-image: linear-gradient(to bottom, #C8FDFE 33%, #0000E5 33%, #0000E5 66%, #FF0000 66%) 1;
}

❤️ codelesslove, .option-set-values > .field {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto;
    gap: 0px;
    border-right: 1px solid transparent; /* Placeholder for border */
    border-image: linear-gradient(to bottom, #C8FDFE 33%, #0000E5 33%, #0000E5 66%, #FF0000 66%) 1;
    border-image: linear-gradient(to bottom,
      #FFFFFF 20%,
      #C8FDFE 20%, #C8FDFE 40%,
      #0000E5 40%, #0000E5 60%,
      #FF0000 60%, #FF0000 80%,
      #FFFFFF 80%) 1
}
❤️ codelesslove, .option-set-values > .field .composer-textbox {
  position: relative;
}
❤️ codelesslove, .option-set-values > .field .composer-textbox::after {
    content: "❤️";
    font-size: 5px;
    margin-left: 0px;
    position: relative;
    top: 50%;
    display: inline-block;
    float: right;
    right: 11px;
    width: 0;
    height: 0;
}

❤️ codelesslove,
.option-set-values > .field .composer-textbox,
.option-set-values > .field .composer-textbox > input {
  width: 100% !important;
}


❤️ codelesslove,
.canvas.resp-v1 > .canvas-inner,
.designcanvas > .canvas-inner {
    justify-self: left !important;
    margin-left: 40px;
}

❤️ codelesslove,
.tabcanvas.tabs-1 .canvas.resp-v1,
.tabcanvas.tabs-1 .designcanvas.resp-v1 {
  grid-template-areas: "content after";
  grid-template-columns: max-content 1fr;
}
  ❤️ codelesslove,
❤️ codelesslove,
.canvas.resp-v1::after,
.designcanvas::after {
    content: "❤️";
    grid-area: after;
    font-size: 10px;
    width: 100%;
    display: block;
    text-align: center;
    margin-right: -5px;
    margin-left: -5px;
    position: relative;
    top: calc(50vh - 84px); /* half of the screen plus the top bar and the top padding*/
}
