/* ❤️ */
/* Workflow Editor > Sidebar */

/* In the Workflow editor, make the folders have a darker grey, to distinguish from non-folders */
❤️ codelesslove,
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem] {
  background-color: rgb(241 241 241 / 40%);
}
❤️ codelesslove,
#mainwindow .action-editor [data-name=workflowList]>div {
  position: relative; /* give the heart indicator something to attach to */
}
❤️ codelesslove,
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem]::after {
  content: "❤️";
  font-size: 3px;
  position: absolute;
  top: unset;
  right: 3px;
  opacity: .8;
}
❤️ codelesslove,
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem] + div,
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem] + div [aria-selected=true] {
    box-shadow: rgb(204, 204, 204) 4px 4px 4px -4px inset;/* inset shadow on top and left, for first item */
}
❤️ codelesslove,
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem]~ div:nth-child(n+3),
#mainwindow .action-editor [data-name=workflowList] div[data-name=FolderItem]~ div:nth-child(n+3) [aria-selected=true] {
  box-shadow: rgb(204, 204, 204) 4px 0 4px -4px inset;/* inset shadow on left only, for all other items*/
}
