/* ❤️ */
/* Property Editor - Make condition inputs full width. */

/* Conditions */
❤️ codelesslove,
.property-editor-2 .viewport .condition {
  clear: both;
  width: 100%;/* be at least 100% when there isn't enough content*/
}
❤️ codelesslove,
.property-editor-2 .viewport .condition .composer.composer.composer.composer { /* Using EASB (Explicitly Arbitrary Specification Boost) technique */
  width: 100%;/* expand to full width */
}
/* Heart indicator in opening parens (which is usually hidden and is on its own line) */
❤️ codelesslove,
.property-editor-2 .viewport .condition::after {
  content: "❤️";
  width: 0;
  display: inline-block;
  position: relative;
  font-size: 3px;
  color: blue;
}
