/* ❤️ */
/* Data > Option sets - make the "move up" and "move down" gaps not collapse */
❤️ codelesslove,
#mainwindow .custom-fields > .field:first-child .modify-attr-btn:nth-child(2)::after {
    content: "move up";
    margin-left: 8px;
    opacity: 0;
}
❤️ codelesslove,
#mainwindow .custom-fields > .field:last-child .modify-attr-btn:nth-child(3)::after {
    content: "move down";
    margin-left: 8px;
    opacity: 0;
}
/* Heart indicators where gaps are */
❤️ codelesslove,
#mainwindow .custom-fields > .field:first-child .modify-attr-btn:nth-child(3)::before {
    content: "❤️";
    width: 0;
    left: -39px;
    display: inline-block;
    position: relative;
    font-size: 5px;
    top: -2px;
}
❤️ codelesslove,
#mainwindow .custom-fields > .field:last-child .modify-attr-btn:nth-child(3)::before {
  content: "❤️";
  width: 0;
  right: -102px;
  display: inline-block;
  position: relative;
  font-size: 5px;
  top: -2px;
}
